@use "_colors";


/** Animation Button **/
@mixin btn-main {
  border-radius: 25px;
  padding: 15px 19px;
  font-size: 16px;
  color: white;
  border: 0px;
  text-decoration: none;
  background: linear-gradient(359deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: 300ms;
}

@mixin btn-main-hover {
  opacity: 90%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.35));
}

@mixin cards {
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);
}

@mixin card-heart-animation {
  .card-heart {
    i {
      position: absolute;
      font-size: 20px;
      margin: 30px 10px 8px 0;
      right: 10%;
    }

    .fa-solid {
      opacity: 0;

      &:hover {
        opacity: 1;
        color: transparent;
        background-clip: text;
        --webkit-background-clip: text;
        transition: all 0.4s ease-in-out;
        background-image: colors.$button-background;
        overflow: hidden;
      }
    }
  }
}


/** Footer **/
footer {
  display: flex;
  flex-direction: column;
  background-color: colors.$black-grey;
  color: colors.$white;
  padding: 22px 25px 22px 25px;
  margin-top: 60px;

  @media screen and (min-width:767px) {
    flex-direction: row-reverse;
    align-items: flex-end;
    padding: 25px 30px 25px 30px;
    margin-top: 30px;
  }

  h3 {
    color: colors.$white;
    font-family: "Shrikhand", cursive;
    font-size: 18px;
    margin: 0;

    @media screen and (min-width:767px) {
      margin-left: 16px;
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 8px;

    @media screen and (min-width:767px) {
      flex-direction: row;
      justify-content: flex-end;
      width: 100%;
      margin: 30px 0 0 0;
    }

    li {
      list-style-type: none;

      @media screen and (min-width:767px) {
        min-width: 11%;
      }

      a {
        text-decoration: none;
        color: colors.$white;
      }
    }

    .ico-tools {
      @media screen and (min-width:767px) {
        min-width: 16%;

      }

      &::before {
        content: "\f2e7";
        padding-right: 10px;
        font-size: 15px;
      }
    }

    .ico-handshake-angle {
      @media screen and (min-width:767px) {
        min-width: 16%;
      }

      &::before {
        content: "\f4c4";
        padding-right: 10px;
        font-size: 15px;
      }
    }
  }
}